.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFF;
    padding-right: 16rem;
    text-decoration: none;
}

.linkDestacado {
    text-decoration: underline;
    font-size: 1.5rem;
    transition: 200ms;
}