.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFF;
    padding-right: 16rem;
    text-decoration: none;
}

.linkDestacado {
    text-decoration: underline;
    font-size: 1.5rem;
    transition: 200ms;
}
@media only screen and (max-width: 1438px) {
            
}
@media only screen and (max-width: 998px) {
    .link{
        font-size: 1.25rem;
        padding-right: 3rem;
    }
    .linkDestacado {
        text-decoration: underline;
        font-size: 1.5rem;
        transition: 200ms;
    }  
}
@media only screen and (max-width: 768px) {
    .link{
        font-size: 1.25rem;
        padding-right: 3rem;
    }
    .linkDestacado {
        text-decoration: underline;
        font-size: 1.75rem;
        transition: 200ms;
    }
}
@media only screen and (max-width: 600px) {
    .link{
        font-size: 0.9rem;
        padding-right: 3rem;
    }
    .linkDestacado {
        text-decoration: underline;
        font-size: 1rem;
        transition: 200ms;
    }
}