.main {
    margin: 0 8%;
    width: 85%;
    /* margin-top: 20px; */
    /* display: block; */
    gap: 10px;
    box-sizing: border-box;
}
     
  .grid-item {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  } 