.form-container {
    width: 100%;
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 colunas */
    gap: 16px; /* Espaçamento entre os campos */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical; /* Permite o redimensionamento vertical do campo de texto */
  }
  
  .submit-button {
    width: 98%;
    padding: 10px;
    background-color: #1E3CE1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Adiciona um espaçamento acima do botão */
  }
  
  .submit-button:hover {
    background-color: #E14F01;
  }
  