.tablecomponent{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4px;
  border-radius: 8px;
}

.tablecomponent table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-bottom: 128px;
  }
  
  .tablecomponent h1 {
    
  }

 .tablecomponent th, td {
    border-radius: 8px;
    border: 1px solid #dbe9ff;
    padding: 8px;
    text-align: left;
  }
  
 .tablecomponent th {
    background-color: #7192ff;
  }
  
 .tablecomponent td {
    text-align: center;
  }
  