.table-container {
    
    margin-top: 30px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
.table-container  table, input {
    box-sizing: border-box  ;
    width: 100%;
    border-collapse: collapse;
  }
  
.table-container  table, th, td, input {
    border: 1px solid #ddd;
  }
  
.table-container th, td, input {
    padding: 10px;
    text-align: left;
  }
  
.table-container  th {
    background-color: #f2f2f2;
  }
.editar {
  text-align: center;
  cursor: pointer;
}
.editar-ed {
  text-align: center;
}

.editar-ed svg {
  margin: 0 4px;
}

.tableLine {
  box-sizing: border-box;
}
