.dashPizza {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   

.dashPizza .itens {
    position: relative;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 8px;
    height: 22.5rem;
}